<tr id="table-head">
                <th class="table-heading">No.</th>
                <th class="table-heading">ID</th>
                <th class="table-heading">Trade</th>
                <th class="table-heading">Ammount</th>
                <th class="table-heading">Result</th>
                <th class="table-heading">Win/Loss</th>
                

            </tr>
 {{#each bets}}
    <tr class="profit">
        <td class="result-data">{{incrementedIndex @index}}</td>
        <td class="result-data">{{this.gameId}}</td>
        <td class="result-data">{{this.betNumber}}</td>
        <td class="result-data">{{this.amount}} ₹</td>
        <td class="result-data">{{this.result}}</td>
        <td class="result-data">{{#if this.winAmount}}+{{this.winAmount}} ₹{{else}}-{{this.amount}} ₹{{/if}}</td>
    </tr>
    {{/each}}